<div>
    <h1>Comparar cambios</h1>
    <hr>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Articulo editado</h4>
                <h5 class="card-title">{{articuloM.titulo_nuevo}}</h5>
                <p class="card-text">{{articuloM.cuerpo_nuevo}}</p>
                <img src="{{articuloM.imagen_nueva}}" alt="">
                <button class="btn btn-primary" 
                    (click)="aceptarCambios( articuloM.id )"
                    routerLink="/gestion-articulos/modificados"
                    >Aceptar cambios de {{articuloM.id}}
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Articulo original</h4>
                <h5 class="card-title">{{articuloM.articulo_original.titulo}}</h5>
                <p class="card-text">{{articuloM.articulo_original.cuerpo}}</p>
                <img src="{{articuloM.articulo_original.imagen}}" alt="">
                <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Mantener original
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje al autor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" name="mensajeCuerpo" id="mensajeCuerpo" #mensajeCuerpo>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" 
                    class="btn btn-primary" 
                    (click)="rechazarCambios( articuloM.id, mensajeCuerpo.value, articuloM.articulo_original.autor.id, 1 )"
                    routerLink="/gestion-articulos/modificados"
                    >Enviar mensaje
                </button>
            </div>
        </div>
    </div>
</div>
  