<h1>Perfil</h1>
<hr>

<div class = "card col-md-2 container d-flex justify-content-center ">
  <img src="https://image.flaticon.com/icons/png/512/1177/1177568.png" class="img-fluid rounded-start fa2x" alt="user">
  <div class="card-body">
    <div class="d-flex justify-content-center text-center">

       <div class="text-center justify-content-center">
         <h5 class="card-title"></h5>

          <p class="card-text"></p>
          <p class="card-text"> </p>
          <p class="card-text">ID de usuario :{{solicitudes.id}} </p>
          <p class="card-text">Activo {{solicitudes.activo}} </p>

          <a href="#" class="btn btn-primary text-center">Descargar CV </a>
          <p class="card-text"><small class="text-muted">fecha de registro:{{solicitudes.fecha_de_registro}} </small></p>



           <button type="button" class="btn btn-success">Aceptar Solicitud</button>
           <hr>
          <button type="button" class="btn btn-danger">Negar Solicitud</button>
        <hr>


          </div>
        </div>
      </div>
    </div>
