<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-10 my-5 d-flex ">
            <h1 class="text-left">Registrarse</h1>

            <div class="row justify-content-center ">
                <div class=" col-md-6 d-flex input-group mb-3 my-3">
                    <div class=" d-flex input-group mb-3 my-3">
                        <input type=" text " class="form-control " placeholder="Nombre " aria-label="Username " aria-describedby="basic-addon1 ">
                        <input type="text " class="form-control " placeholder="Apellido " aria-label="Username " aria-describedby="basic-addon1 ">
                    </div>

                    <div class=" d-flex input-group mb-3 my-3 ">
                        <select id="inputState" class="form-control">
                          <option selected>Nacionalidad...</option>
                          <option>...</option>
                    </select>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>

                    <div class=" d-flex input-group mb-3 my-3 ">
                        <input type="text " class="form-control " placeholder="@Correo Electronico" aria-label="Username " aria-describedby="basic-addon1 ">
                    </div>

                    <div class=" d-flex input-group mb-3 my-3 ">
                        <input type="text " class="form-control " placeholder="Fecha de Nacimiento example:25082021" aria-label="Username " aria-describedby="basic-addon1 ">
                    </div>
                    <div class=" d-flex input-group">
                        <button type=" button " class="btn btn-primary btn-lg ">registrarme</button>
                    </div>
                </div>

                <div class=" col-md-4 d-flex input-group mb-3 my-3">
                    <img src="assets/Img/laptop_1.png" class="d-block w-100" alt="...">
                    <a class="text-black-50"> Beneficios de estar registrado, puedes guardar articulos y material. Tambien puedes publicar tus articulos.</a>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">