<h1>Gestion de usuarios</h1>
<hr>

<div *ngFor="let usuario of usuarios">
<a routerLink="{{usuario.id}}">
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.flaticon.com/icons/png/512/2922/2922468.png" 
        class="img-fluid rounded-start"
        style="width: 25vw;"
        alt="user">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{usuario.Nombre}} {{usuario.Apellido}}</h5>
          <p class="card-text">{{usuario.correo}}</p>
          <p class="card-text">{{usuario.nacionalidad}}</p>
          <p class="card-text">Rol: {{usuario.rol}}</p>
          <p class="card-text">fecha de nacimiento: {{usuario.fecha_de_nacimiento}}</p>
          <p class="card-text"><small class="text-muted">fecha de registro: {{usuario.fecha_de_registro}}</small></p>
        </div>
      </div>
    </div>
  </div>
</a>
</div>