<div class="container">
    <div class=" card my-5">
        <div class="col-md-12">
            <h1 class="text-left">Catalogo</h1>

            <div class="row  justify-content-center my-4">
                <div class=" card col-md-3  ">
                    <h2 class="text-center">categorias </h2>
                </div >
                
                <div id="card" class="card col-md-7 ">
                    <div>
                        <h3 class="card-title"> </h3>
                        <hr>
                        <p class="card-text "></p>
                        <a href="http://localhost:4200/catalogo-abierto"  id="bt" class="btn btn-primary " style="float: right;">Ir al Catalogo</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
