<h1>Subir material</h1>

<div class="container">
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit($event)" >
    <div class="mb-3">
        <label  class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="titulo" formControlName='titulo'>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Autor:</label>
        <input type="text" class="form-control" id="autor" formControlName='autor_del_doc'>
        <div id="emailHelp" class="form-text">Autor original del documento.</div>
    </div>

    <select class="form-select" aria-label="Default select example" formControlName='categoria'>
        <option selected>Categoría</option>
        <option value="1">prueba</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Fecha:</label>
        <input type="number" min="1900" max="2021" placeholder="1970" class="form-control" id="fecha" formControlName='fecha'>
        <div id="emailHelp" class="form-text">Año de publicación del documento.</div>
    </div>

    <div class="mb3 form-group">
        <label for="exampleFormControlFile1">Seleccionar archivo:</label>
        <input type="file" 
            class="form-control-file" 
            id="archivo" 
            formControlName='archivo' 
            (change)="onSubmit($event)" #fileUpload>
            <div class="file-upload">

                {{fileName || "No file uploaded yet."}}
             
             </div>
    </div>
   
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Descripción:</label>
        <input type="text" class="form-control" id="descripcion" formControlName='descripcion'>
        <div id="emailHelp" class="form-text">Breve descripción del documento.</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Etiquetas:</label>
        <input type="text" class="form-control" id="etiquetas" formControlName='etiquetas'>
    </div>
   
    <button type="submit" class="button btn btn-primary" >Subir</button>
</form>
</div>