
<h1>Categorias</h1>

<div class = "card col-md-2">

  <div class=" row col-md-2  justify-content-left" *ngFor="let categoria of categorias">

    {{categoria.nombre}}

    <br>

  </div>

</div>

<div  class = "card col-md-8 container d-flex justify-content-center  " *ngFor="let blog of blogs" >

    <div class="card-body">

      <div class="text-center justify-content-center">

        <h3 class="card-title  d-flex justify-content-left"> {{blog.titulo}}</h3>

        <hr>

         <p class="card-text  d-flex justify-content-center" >{{blog.cuerpo}}</p>

         <a  routerLink="/blog/{{blog.id}}" class="btn btn-primary " style="float: right;">Ir al Articulo</a>

      </div>



    </div>



</div>
<a id="created" class="btn btn-lg btn-transparent" onclick="location.href='http://localhost:4200/crear-post'">
  <i class="fas fa-plus-circle fa-3x" style="float: right"></i></a>
