<div class="card text-center d-flex justify-content-center">
    <img src="https://image.flaticon.com/icons/png/512/2919/2919600.png" class="img-fluid" alt="..."
        style="width: 20vw;">
    <div class="card-body">
        <h5 class="card-title">{{usuario.Nombre}} {{usuario.Apellido}}</h5>
        <p class="card-text">{{usuario.correo}}</p>
        <p class="card-text">Fecha de nacimiento: {{usuario.fecha_de_nacimiento}}</p>
        <p class="card-text">{{usuario.nacionalidad}}</p>
        <p class="card-text">Activo: {{usuario.activo}}</p>
        <p class="card-text"><small class="text-muted"> Registrado desde: {{usuario.fecha_de_registro}}</small></p>
        <p class="card-text text-muted">Rol: {{usuario.rol}}</p>
    </div>
</div>