
<div class="mx-auto"><h1>Articulos eliminados</h1></div>

<div class="card mb-3 mx-auto" style="max-width: 540px;" *ngFor="let articulo of articulos">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://image.flaticon.com/icons/png/512/2680/2680919.png" class="img-fluid rounded-start"
                alt="user">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{articulo.titulo}}</h5>
                <p class="card-text">{{articulo.cuerpo}}</p>
                <p class="card-text">{{articulo.etiquetas}}</p>
                <p class="card-text text-muted">activo: {{articulo.activo}}</p>
                <p class="card-text"><small class="text-muted">fecha de registro: {{articulo.fecha_de_registro}}</small>
                </p>
            </div>
        </div>
    </div>
</div>