<h1>Perfil</h1>
<hr>

<div class = "card col-md-6 container d-flex justify-content-center ">
  <div class="card-body">
    <div class="d-flex justify-content-center text-center">
          <img src="https://image.flaticon.com/icons/png/512/1177/1177568.png" class="img-fluid rounded-start fa-2x" alt="user">
       <div class="text-center justify-content-center">
         <h5 class="card-title">Nombre:{{Perfiladmin.Nombre}} {{Perfiladmin.Apellido}} </h5>

          <p class="card-text">Correo:{{Perfiladmin.correo}}</p>
          <p class="card-text">Nacionalidad{{Perfiladmin.nacionalidad}}</p>
          <p class="card-text">Rol: {{Perfiladmin.rol}}</p>
          <p class="card-text">fecha de nacimiento: {{Perfiladmin.fecha_de_nacimiento}}</p>
          <p class="card-text"><small class="text-muted">fecha de registro: {{Perfiladmin.fecha_de_registro}}</small></p>

        <a href="#" class="btn btn-primary text-center">Gestion de Articulos</a>


        <hr>
        <a href="#" class="btn btn-primary">Gestion de Catalogo</a>

        <hr>
        <a href="http://localhost:4200/gestion-usuarios" class="btn btn-primary">Gestion de Usuarios</a>

        <hr>


          </div>
        </div>
      </div>
    </div>
