<div class="container">
<h1>Gestion de catálogo</h1>
<hr>

<a routerLink="subir">
<button type="button" class="btn btn-primary btn-floating" style="position: fixed;">
    <i class="fas fa-plus-circle"></i>
</button>
</a>

<div *ngFor="let material of materiales">
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.flaticon.com/icons/png/512/945/945170.png" 
        class="img-fluid rounded-start"
        style="width: 25vw;"
        alt="user">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{material.titulo}}</h5>
          <p class="card-text">{{material.descripcion}}</p>
          <p class="card-text"><small class="text-muted">fecha de registro: {{material.fecha_de_registro}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

