<!--carousel-->
<header id="carouselExampleIndicators justify-content-center" class="carousel slide justify-content-center " data-ride="carousel justify-content-center">
    <div id="header">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner ">

            <div class="carousel-item active min-vh-100">
                <img src="assets/Carousel img/bibliotecas-C1.png " class="d-block w-100" alt="...">
                <div id="Texto" class="carousel-caption d-none d-md-block">
                    <h2 id="Informacion">Bienvenido a Nuestra Biblioteca Virtual </h2>
                    <p id="Detalles" class="font-italic text-white">Articulos, Material y Otros.</p>
                </div>
            </div>

            <div class="carousel-item min-vh-100">
                <img src="assets/Carousel img/bibliotecas-C2.png" class="d-block w-100" alt="...">
                <div id="TextoC2" class="carousel-caption d-none d-md-block">
                    <h2 id="InformacionC2">Articulos y Catalogos</h2>
                    <p id="DetallesC2" class="font-italic text-white">Categoría el grado de jerarquía dentro de un orden.</p>
                </div>
            </div>

            <div class="carousel-item min-vh-100">
                <img src="assets/Carousel img/bibliotecas-C3.png" class="d-block w-100" alt="...">
                <div id="TextoC3" class="carousel-caption d-none d-md-block">
                    <h2 id="InformacionC3">Usa Nuestro Sitio Web </h2>
                    <p id="DetallesC3" class="font-italic text-white">Sitio web totalmente responsive en dispositivos.</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
<!--fin de carousel-->

<!--acerca de-->
<section>
    <div class="container">
        <div class="row contaner justify-content-center">
            <div class="card col-md-10">
                <h2 class="text-center ">acerca de</h2>
                <div class=" my-2  justify-content-center text-center">
                    <p>Una biblioteca digital es una colección de objetos digitales organizados, ​ que sirve a una comunidad de usuarios definida, que tiene los derechos de autor presentes y gestionados y que dispone de mecanismos de preservación y conservación.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--fin acerca de-->

<!--Mapa de calor-->
<section>
    <div class="container">
        <div class="row contaner justify-content-center my-5">

            <div class="card card col-md-10">
                <h2 class="text-center">nuestros usuarios registrados</h2>
            <div class="row col-md-12 my-2 text-center">
              <app-chart></app-chart>
            </div>
        </div>
    </div>

<!--fin mapa de calor-->

<!--publicidad-->
<section id="ribbon" class="my-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-9">
                <h4 id="redes" class="text-white text-light">SIGUENOS <br>EN NUESTRA PAGINA DE FACEBOOK!!</h4>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <a class="btn btn-lg btn-transparent" onclick="location.href='https://www.facebook.com/Biblioteca-virtual-112348461110090/'">
                    <i id="IconoP" class="fab fa-facebook fa-4x" style="color: #3b5998;" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<!--fin de publicidad-->

<!--pie de pagina-->
<footer class="bg-mycolor">
    <div class=" py-5">
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-white-50 mb-4"> Contactanos</h5>
                <p class="text-light" href="">bibliotecav03@gmail.com</p>
                <p class="text-light" href="">+52 786 170 41 99</p>
                <div>
                    <a class="text-light mr-3" onclick="location.href='https://www.facebook.com/Biblioteca-virtual-112348461110090'">
                        <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                    <a class="text-light" onclick="location.href='https://www.instagram.com/julian_hardy/'">
                        <i class="fab fa-instagram-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class=" col-md-4">
                        <h5 class="text-white-50 mb-4 text-center"> Sitio Web con Backend y Frontend</h5>

                        <p></p>
                        <p class="text-light text-decoration-none" href=""></p>
                        <p class="text-light text-decoration-none" href="">Integrantes del equipo:</p>
                        <p></p>
                        <p class="text-light text-decoration-none" href="">*Agustin Rosales Corona.</p>
                        <p></p>
                        <p class="text-light text-decoration-none" href="">*Julian Garcia Marin.</p>
                        <p></p>
                        <p class="text-light text-decoration-none" href="">*Marco Antonio Ortiz Gutierrez</p>
                        <p></p>
                    </div>

                    <div class="col-md-8 ">
                        <h5 class="text-white-50 mb-4">Acerca de Este Sitio Web</h5>
                        <p class="text-light text-decoration-none" href=""> Esta pagina esta totalmente desarrollada en Visual Code, utilizando las tecnologias de Boostrap 4, Node.js, Angular y CSS, diseño y desarrallo del Sitio Web por Julian Garcia Marin, Marco, Agustin Rosales Corona.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <hr class="border border-light">
                <p class="text-light">2021. All rights reserved | Designed with by <span class="lead"><a href="" class="text-white-50"> <i class="fas fa-star-of-david" aria-hidden="true"></i> Julian Garcia Marin, Agustin Rosales Corona, Marco Antonio Ortiz Gutierrez</a></span></p>
            </div>
        </div>
    </div>
</footer>
<!--final pie de pagina-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
