#Texto {
    margin-bottom: 20%;
    text-shadow: black 0.1em 0.1em 0.2em
}

#TextoC2 {
    margin-bottom: 10%;
    margin-right: 10%;
    text-shadow: black 0.1em 0.1em 0.2em
}

#TextoC3 {
    margin-bottom: 10%;
    margin-right: 20%;
    text-shadow: black 0.1em 0.1em 0.2em
}

#Informacion {
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
}

#Detalles {
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}

#InformacionC2 {
    margin-right: 25%;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
}

#DetallesC2 {
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}

#InformacionC3 {
    margin-right: 20%;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
}

#DetallesC3 {
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}

#ribbon {
    background-color: rgb(100, 128, 146);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#redes {
    margin-left: 10%;
}

#IconoP {
    text-shadow: rgb(218, 218, 218) 0.1em 0.1em 0.2em;
}

.bg-mycolor {
    background-color: rgb(87, 87, 87);
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}