<h1>Articulos Pendientes</h1>
<hr>

<div class="card mb-3 mx-auto" style="max-width: 540px;" *ngFor="let articulo of articulos">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://image.flaticon.com/icons/png/512/2680/2680919.png" class="img-fluid rounded-start" alt="user">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{articulo.titulo}}</h5>
        <p class="card-text">{{articulo.cuerpo}}</p>
        <p class="card-text">Autor: {{articulo.autor.Nombre}}</p>
        <p class="card-text">{{articulo.etiquetas}}</p>
        <p class="card-text text-muted">Estatus: {{articulo.estatus}}</p>
        <p class="card-text"><small class="text-muted">fecha de registro: {{articulo.fecha_de_registro}}</small></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary me-md-2" type="button"
            (click)="aceptarArticulo( articulo.id )">Aceptar</button>
          <button class="btn btn-danger" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Rechazar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mensaje al autor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" name="mensajeCuerpo" id="mensajeCuerpo" #mensajeCuerpo>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"
            (click)="rechazarArticulo( articulo.id, mensajeCuerpo.value, articulo.autor.id, 1 )">Enviar mensaje
          </button>
        </div>
      </div>
    </div>
  </div>


</div>