<div class="container">
    <div class="card my-5">
        <div class="col-md-12">
            <h1>Titulo de Catalogo</h1>

            <div class="row  justify-content-center my-4">
                <p class = " col-md-8 container d-flex justify-content-right ">datos</p>
                <div id="espacio" class = "card col-md-8 container d-flex justify-content-center ">
                    <div class="card-body">
                        <div class="text-center justify-content-center">
                            <h3 class="card-title  d-flex justify-content-left"> </h3>
                            <hr>
                            <p class="card-text  d-flex justify-content-center" > Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit voluptatum dolor quibusdam hic! Autem labore aliquam voluptatibus qui cum ratione cupiditate ab culpa veniam inventore debitis, error nisi eius molestias?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



