<h1>Articulos modificados</h1>
<hr>

<div *ngFor="let articulo of articulos">
<a routerLink='/gestion-articulos/modificados/{{articulo.id}}'>
<div class="card mb-3 mx-auto" style="max-width: 540px;" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{articulo.imagen_nueva}}" class="img-fluid rounded-start" alt="user">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{articulo.titulo_nuevo}}</h5>
          <p class="card-text">{{articulo.cuerpo_nuevo}}</p>
            <p class="card-text text-muted">revisado: {{articulo.revisada}}</p>
          <p class="card-text"><small class="text-muted">fecha de registro: {{articulo.fecha_de_registro}}</small></p>
        </div>
      </div>
    </div>
  </div>
</a>
</div>