<!--Iconos de FontAwesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<nav class=" navbar navbar-expand-lg navbar-dark bg-dark ">
    <a id="ivonB" class="navbar-brand" href="#"><i class="fas fa-book-reader fa-2x"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/blog">Blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/catalogo">Catalogo</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://biblioteca-virtual-ayuda.000webhostapp.com/#"> <samp>Ayuda</samp></a>
            </li>            
        </ul>
    </div>

    <div>
        <ul class="navbar-nav ">
            <li class="nav-item ">
                <a class="nav-link  text-white text-light " href="http://localhost:4200/login">Iniciar Sesion</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white text-light" href="http://localhost:4200/registro">Registrarse</a>
            </li>
        </ul>
    </div>
</nav>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">