<div class="container">
    <div class="card my-5">
        <div class="col-md-12">
            <h1 class="text-left">Crear Post</h1>

            <div class=" justify-content-center my-4">
                <form>
                    <div class="form-row">
                        
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Titulo</label>
                        <input type="text" class="form-control" id="validationDefault03" required>
                      </div>

                      <div id="subir" class="col-md-3 mb-3">
                        <label for="validatedCustomFile"></label>
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Imagen...</label>
                      </div>

                      <div class="col-md-3 mb-3">
                        <label for="validationDefault04">Categoria</label>
                        <select class="custom-select" id="validationDefault04" required>
                          <option selected disabled value="">Escoger...</option>
                          <option>...</option>
                        </select>
                      </div>
                      
                    </div>
                    
                    <div class="mb-3">
                        <label for="validationDefault05">Post</label>
                        <textarea class="form-control is-invalid" id="validationDefault05" placeholder="Escribe el post" required></textarea>
                    </div>

                    <button class="btn btn-primary" type="submit">Crear</button>

                  </form>
            </div>
        </div>
    </div>
</div>
