<h1>Ingrese Codigo de recuperación</h1>

<br>

<div  class = "card col-md-6 container d-flex justify-content-center ">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Password</label>
  </div>
  <div class="col-auto">
    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">

    </span>
<br>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">

</div>
<br>
