<h1>{{blog.categoria}}</h1>

<br>

<div  class = "card col-md-8 container d-flex justify-content-center" >

    <div class="card-body">

      <div class="text-center justify-content-center">

        <h3 class="card-title  d-flex justify-content-left"> {{blog.titulo}}

          <h5 id="fecha" class="text-black-50  d-flex justify-content-right">Fecha: {{blog.fecha}}</h5>

        </h3>

        <hr>

         <p class="card-text  d-flex justify-content-center" >{{blog.cuerpo}}</p>


      </div>

    </div>

</div>
